
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: linear-gradient(90deg,#1A5276, #E0E0E0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.account-container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}


.welcome-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}


h1 {
    font-size: 22px;
    color: #444;
    margin-bottom: 5px;
}

.email {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: 600;
    text-align: left;
    font-size: 14px;
    width: 100%;
    color: #444;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

input:focus {
    border-color: #6E8EF6;
    outline: none;
    box-shadow: 0px 0px 5px rgba(110, 142, 246, 0.5);
}


button {
    background: #FFAB91;
    color: white;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
    width: 100%;
}

button:hover {
    background:  #E64A19;
}


.logout-link {
    display: block;
    margin-top: 20px;
    color: #FFAB91;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.logout-link:hover {
    text-decoration: underline;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
